@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="container">
    

    <p> Phone: 555.555.5555</p>
    <div class="row">
        <div class=" col-lg-1">

            <img src="~/images/donut1.jpeg" />
        </div>

    </div>


</div>